certifi==2020.12.5
chardet==4.0.0  
cycler==0.10.0  
decorator==4.4.2
future==0.18.2
idna==2.10
kiwisolver==1.3.1
matplotlib==3.3.3
monty==4.0.2
mpmath==1.1.0
networkx==2.5
numpy==1.19.5
palettable==3.3.0
pandas==1.2.1
Pillow==8.1.0
plotly==4.14.3
pymatgen==2020.12.31
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
retrying==1.3.3
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
scipy==1.6.0
six==1.15.0
spglib==1.16.0
sympy==1.7.1
tabulate==0.8.7
uncertainties==3.1.5
urllib3==1.26.2